body {
  margin: 0;
  background-color: #F8F8F8;
  background-repeat: no-repeat;
  font-family: 'TT Lakes Medium';
}

.main-menu {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 56px;
  width: 100%;
  align-items: center;
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.h2 {
  font-size: 16px;
  letter-spacing: -0.2px;
  font-weight: 400;
  color: #7E7E82;
  text-decoration: none;
  text-transform: uppercase;
}

.main-menu__header {
  padding: 16px 32px;
}

.content {
  padding: 0;
}

.cont-logo,
.main-menu__cont-logo {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: #f8f8f8;
  padding: 8px 16px;
}

.link-logo__link {
  display: flex;
  margin: 16px 16px 0 16px;
}

.logo {
 width: 240px;
 height: 72px;
 border-radius: 6px;
}

.logo:hover{
  box-shadow: 1px 1px 1px 2px #7E7E82;
}

.btn {
  width: 130px;
  height: 24px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  border: none;
  cursor: pointer;
  background: none;
}

.btn:hover{
  opacity:0.8;
}

.btn__btn-cont {
  margin: 24px 32px;
  align-items: center;
}

.cont__btn-icon {
  width: 1rem;
  height: 1rem;
  transform: rotate(180deg);
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.5.5L4 3 1.5.5a.707.707 0 00-1 1l2.793 2.793a1 1 0 001.414 0L7.5 1.5a.707.707 0 00-1-1zm0 6L4 9 1.5 6.5a.707.707 0 10-1 1l2.793 2.793a1 1 0 001.414 0L7.5 7.5a.707.707 0 00-1-1z' fill='%2341F6D7'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.btn-icon {
  width: 1rem;
  height: 1rem;
  transform: rotate(0deg);
  background-position: 0 50%;
}

.main-menu__cont-logo [class^='link']:nth-child(1n+9) {
  display: none;
}

@media (min-width: 550px) and (max-width: 1000px) {
  .main-menu__header {
    padding: 16px 24px;
  }

  .cont-logo,
  .main-menu__cont-logo {
    padding: 8px 8px 0 24px;
  }

  .main-menu__cont-logo [class^='link']:nth-child(1n+7) {
    display: none;
  }

  .link-logo__link {
    margin: 16px 16px 0 0;
  }

  .logo {
   width: 224px;
  }
}

@media (min-width:320px) and (max-width: 549px) {
  .content {
    display: none;
  }
  .header {
    height: 80px;
  }

  .main-menu__header {
    padding: 16px;
  }

  .main-menu__cont-logo {
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    padding: 16px 0 16px 16px;
  }

  .link-logo__link {
   margin: 0 16px 0 0;
  }

  .main-menu__cont-logo [class^='link'] {
    display: initial;
  }

  .btn,
  .btn__btn-cont,
  .btn-icon,
  .cont__btn-icon {
    display: none;
  }

}
